{
	"externalList": 
	[
		{
			"name": "serverip",
			"val": "@SERVERIP@"
		},
        {
			"name": "id",
			"val": "@NEMID@"
		},
		{
			"name": "net",
			"val": "host"
		},
        {
			"name": "image",
			"val": "@IMAGE@"
		}
	],
	"internalList":
	[

	]
}
